p {
  margin: 0;
}
.form {
  margin: 0 auto;
  width: 100%;
  max-width: 372px
}
.input {
  box-sizing: border-box;
  width: 100% !important;
  background-color: #0000001e;
  border: 0;
  resize: none;
  margin: 8px 0;
  color: white;
  font-size: 16px;
  padding: 4px;
}

.text-area {
  height: 456px;
}

.submit {
  background-color: #0000001e;
  border: 0;
  cursor: pointer;
  transition: .1s;
  padding: 8px;
  width: 100%;
  color: white;
}

.submit:hover {
  color: black;
  background-color: rgb(173, 231, 171);
}

.background {
  background-image: url("assets/temp-banner.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px;
  color: rgb(61, 61, 61);
  min-height: 100vh;
  box-sizing: border-box;
}
h1 {
  margin: 0;
  margin-bottom: 16px;
}